<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="INFO" monitorInterval="3600">
    <!-- monitorInterval checks for changes to configuration file every specified number of seconds. Not so great when the 
        configuration file is loaded from the artifact, but awesome if its loaded from the file system at run time. -->
    <Appenders>
        <!-- Rolled files are compressed. -->
        <RollingRandomAccessFile name="RollingRandomAccessFile " fileName="logs/app.log"
            filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%date | %-5level | %threadName | %-55c{.1} | %message%n%throwable" />
            <Policies>
                <!-- Rotates the file if the day it was created is not the current day. -->
                <TimeBasedTriggeringPolicy />
                <!-- Files will be up to 20 MB in size, larger log files are a pain to move across network or the Internet. -->
                <SizeBasedTriggeringPolicy size="20 MB" />
            </Policies>
            <!-- Will keep up to 'max' number of files. This is flat number regardless of date rolling or size, there are 
                fancier patterns that can be implemented. See https://logging.apache.org/log4j/2.x/manual/appenders.html -->
            <!-- compressionLevel - Sets the compression level, 0-9, where 0 = none, 1 = best speed, through 9 = best compression. 
                Only implemented for ZIP files. -->
            <DefaultRolloverStrategy max="200" compressionLevel="5" />
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="org.sample" level="INFO" />
        <Logger name="org.springframework" level="WARN" />
        <Root level="INFO">
            <AppenderRef ref="RollingRandomAccessFile " />
        </Root>
    </Loggers>
</Configuration>
